name = "gnex-telegram-bot"
main = "src/index.js"
compatibility_date = "2024-03-21"
compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["0 0,9,11,12,21,23 * * *"]

[[d1_databases]]
binding = "GNEX_D1"
database_name = "gnex-db-dev"
database_id = "752a111e-1154-4a5b-9854-7784320dc6db"

[env.production]
name = "gnex-telegram-bot"
vars = { ENVIRONMENT = "production" }

[env.production.triggers]
crons = ["0 0,9,11,12,21,23 * * *"]

[[env.production.d1_databases]]
binding = "GNEX_D1"
database_name = "gnex-db-dev"
database_id = "752a111e-1154-4a5b-9854-7784320dc6db"
