name = "icrush-quiz-game"
main = "src/index.js"
compatibility_date = "2024-03-21"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "GNEX_D1"
database_name = "icrush-quiz-db"
database_id = "752a111e-1154-4a5b-9854-7784320dc6db"

[env.production]
name = "icrush-quiz-game"
vars = { ENVIRONMENT = "production" }

[env.production.d1_databases]
GNEX_D1_PREVIEW = false
